* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #e5e5e5;
    background-color: #2d303d;
}

.button {
    background-color: #4a8fe7;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 8px;
    font-size: 13px;
    cursor: pointer;
    outline: none;
}

.button:active {
    background-color: #539fff;
}

.link {
    text-decoration: none;
    color: #4a8fe7;
    font-size: 13px;
    width: fit-content;
}

.link:visited {
    color: #4a8fe7;
}

.link_error {
    color: #e35b5b;
}

.link_error:visited {
    color: #e35b5b;
}

.header {
    font-size: 18px;
    font-weight: normal;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.input {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 48px;
    position: relative;
}

.input__label {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.error {
    color: #e35b5b;
    font-size: 13px;
}

.input__error {
    position: absolute;
    bottom: -12px;
    padding-top: 4px;
    font-size: 9px;
    display: none;
}

.input__label-content-name {
    font-size: 13px;
    color: #838996;
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
}

.input__value {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #4a8fe7;
    appearance: none;
    outline: none;
    color: #ffffff;
    font-size: 13px;
    padding-top: 20px;
    width: 100%;
    height: 100%;
}

.input__value:not(:placeholder-shown) + .input__label .input__label-content-name,
.input__value:focus + .input__label .input__label-content-name {
    transform: translateY(-170%);
    padding-bottom: 2px;
    font-size: 9px;
}

.input__value:invalid ~ .input__error {
    display: inline;
}

.modal {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__content {
    background-color: #2d303d;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 24px 16px 16px;
    border-radius: 20px;
    min-width: 230px;
}

.modal__header {
    font-size: 15px;
    margin-bottom: 24px;
    text-align: center;
}

.modal__body {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__body-item {
    margin-bottom: 16px;
}

.modal__action {
    width: 100%;
}

.photo {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #e35b5b;
    user-select: none;
}

.field {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding-bottom: 12px;
}

.field__name {
    color: #838996;
}

.field__value {
    color: #e5e5e5;
}