.start-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.start-form {
    padding: 44px 52px 36px;
    height: fit-content;
    width: 320px;
    border-radius: 10px;
    background-color: #343745;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-form__header {
    width: 100%;
}

.start-form__header_logon {
    margin-bottom: 36px;
}

.start-form__header_login {
    margin-bottom: 68px;
}

.start-form__fields {
    width: 100%;
    margin-bottom: 52px;
}

.start-form__field {
    margin-bottom: 16px;
}

.start-form__submit-button {
    margin-bottom: 16px;
    width: 100%;
}
